.about {
    background: #F6F6F6;
    padding-bottom: 120px;

    &__title{
        padding-top: 104px;
    }
    &__subtitle{
        font-size: 18px;
        line-height: normal;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 500;
    }
}

