.footer{
    padding-top: 114px;

    &__title{
        margin-bottom: 20px;
    }

    &__subtitle{
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 29px;
    }
    &__button{
        display: block;
        margin: 0 auto;
        width: 166.461px;
        height: 38px;
        background-color: #070707;
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: 0;
        border-radius: 30px;
        margin-bottom: 90px;

        &:hover{
            color:black;
            background-color: white;
            border: 1px solid black
        }
    }
    &__social{
        margin: 0 auto;
        max-width: 342px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 46px;
    }
    &__text{
        color: #828282;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 123px;
    }

}