.main {
    &__descrip {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 50px;
    }

    &__title {
        margin: 0;
        font-size: 47px;
        font-weight: 700px;
        width: 124px;
    }
    &__text {
        font-size: 18px;
        width: 145px;
        font-weight: 500;
    }

    &__links {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-family: gilroy;

    }

    &__link {
        text-decoration: none;
        font-weight: 700px;
        font-size: 16px;
        color: #828282;

        &--active {
            color: #000;
        }
    }
    &__link:first-child::after {
        content: '|';
        display: inline-block;
        width: 13px;
        height: 2px;
        color: #000;
        margin-top: 5px;
    }

    &__photo{
        margin-bottom: 104px;
    }

    &__image {
        width: 100%;
    }
}