.portfolio{
    background: #F6F6F6;
    padding-bottom: 96px;

    &__title{
        padding-top: 112px;
        margin-bottom: 47px;
    }

    &__photo{
        width: 100%;
        margin-bottom: 47px;
    }

    &__link{
        display: block;
        color: #070707;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration-line: underline;
        margin-bottom: 99px;
    }
}