body, html{
    font-family: 'Gilroy';
    font-size: 18px;
    color: #070707;
    padding: 0;
    margin: 0;
}

.container{
    width:100%;
    max-width: 950px;
    margin: 0 auto;
}

.title {
    font-size: 34px;
    color: #070707;
    text-align: center;
    font-weight: 700;
}